In [1]:
import pandas as pd
file1 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_01.csv"
data1 = pd.read_csv(file, encoding="GB2312")
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148923 entries, 0 to 148922
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   数据采集时间       148923 non-null  object
 1   车辆状态         148923 non-null  int64
 2   充电状态         148923 non-null  int64
 3   车速           148923 non-null  float64
 4   累计里程         148923 non-null  float64
 5   总电压          148923 non-null  float64
 6   总电流          148923 non-null  float64
 7   SOC          148923 non-null  int64
 8   DC-DC状态      148923 non-null  int64
 9   绝缘电阻         148923 non-null  int64
 10  驱动电机控制器温度    133365 non-null  object
 11  驱动电机转速       133365 non-null  object
 12  驱动电机转矩       133365 non-null  object
 13  驱动电机温度       133365 non-null  object
 14  电机控制器输入电压    133365 non-null  object
 15  电机控制器直流母线电流  133365 non-null  object
 16  电池单体电压最高值    148923 non-null  float64
 17  电池单体电压最低值    148923 non-null  float64
 18  最高温度值        148923 non-null  int64
 19  最低温度值        148923 non-null  int64
 20  最高报警等级       148923 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 23.9+ MB

In [3]:
data1 = data1.drop(columns='数据采集时间')

In [5]:
data1['月份'] = 1

In [9]:
data1.to_csv('month1', index = False)

In [25]:
file2 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_02.csv"
data2 = pd.read_csv(file2, encoding="GB2312")
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144826 entries, 0 to 144825
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   数据采集时间       144826 non-null  object
 1   车辆状态         144826 non-null  int64
 2   充电状态         144826 non-null  int64
 3   车速           144826 non-null  float64
 4   累计里程         144826 non-null  float64
 5   总电压          144826 non-null  float64
 6   总电流          144826 non-null  float64
 7   SOC          144826 non-null  int64
 8   DC-DC状态      144826 non-null  int64
 9   绝缘电阻         144826 non-null  int64
 10  驱动电机控制器温度    125210 non-null  object
 11  驱动电机转速       125210 non-null  object
 12  驱动电机转矩       125210 non-null  object
 13  驱动电机温度       125210 non-null  object
 14  电机控制器输入电压    125210 non-null  object
 15  电机控制器直流母线电流  125210 non-null  object
 16  电池单体电压最高值    144826 non-null  float64
 17  电池单体电压最低值    144826 non-null  float64
 18  最高温度值        144826 non-null  int64
 19  最低温度值        144826 non-null  int64
 20  最高报警等级       144826 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 23.2+ MB

In [27]:
pd.set_option('display.max_columns', None)
data2.head(10)

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/2/1 0:00,1,3,52.3,138899.4,347.4,-32.9,26,1,5239,1:14,1:2982,1:-41.3,1:23,1:348.0,1:-31.299999999999955,3.628,3.614,18,16,0
1,2022/2/1 0:00,1,3,50.5,138899.5,345.4,10.7,26,1,5234,1:14,1:2883,1:9.1,1:23,1:346.0,1:10.100000000000023,3.606,3.592,18,16,0
2,2022/2/1 0:00,1,3,48.3,138899.7,345.1,14.6,26,1,5197,1:14,1:2758,1:13.6,1:23,1:345.0,1:13.799999999999955,3.603,3.588,18,16,0
3,2022/2/1 0:00,1,3,51.2,138899.8,344.7,11.8,26,1,5280,1:14,1:2916,1:9.5,1:23,1:346.0,1:11.200000000000045,3.598,3.584,18,16,0
4,2022/2/1 0:00,1,3,48.3,138899.9,346.4,-31.8,26,1,5343,1:13,1:2750,1:-43.0,1:23,1:348.0,1:-30.299999999999955,3.616,3.603,18,16,0
5,2022/2/1 0:00,1,3,49.8,138900.1,344.4,23.5,26,1,5438,1:14,1:2843,1:22.6,1:23,1:345.0,1:22.0,3.595,3.581,18,16,0
6,2022/2/1 0:01,1,3,51.3,138900.2,345.0,12.7,26,1,5457,1:14,1:2913,1:10.3,1:23,1:346.0,1:12.0,3.601,3.588,18,16,0
7,2022/2/1 0:01,1,3,52.4,138900.4,345.0,11.6,26,1,5334,1:14,1:2985,1:9.2,1:22,1:346.0,1:11.0,3.601,3.588,18,16,0
8,2022/2/1 0:01,1,3,48.2,138900.5,345.4,4.4,26,1,5334,1:13,1:2746,1:3.2,1:22,1:346.0,1:4.100000000000023,3.606,3.592,18,16,0
9,2022/2/1 0:01,1,3,45.5,138900.6,345.8,-20.8,26,1,5411,1:14,1:2581,1:-32.0,1:22,1:348.0,1:-19.799999999999955,3.611,3.596,18,16,0

In [29]:
data2 = data2.drop(columns='数据采集时间')
data2['月份'] = 2
data2.to_csv('month2', index = False)

In [31]:
file3 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_03.csv"
data3 = pd.read_csv(file3, encoding="GB2312")
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164773 entries, 0 to 164772
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   数据采集时间       164773 non-null  object
 1   车辆状态         164773 non-null  int64
 2   充电状态         164773 non-null  int64
 3   车速           164773 non-null  float64
 4   累计里程         164773 non-null  float64
 5   总电压          164773 non-null  float64
 6   总电流          164773 non-null  float64
 7   SOC          164773 non-null  int64
 8   DC-DC状态      164773 non-null  int64
 9   绝缘电阻         164773 non-null  int64
 10  驱动电机控制器温度    149189 non-null  object
 11  驱动电机转速       149189 non-null  object
 12  驱动电机转矩       149189 non-null  object
 13  驱动电机温度       149189 non-null  object
 14  电机控制器输入电压    149189 non-null  object
 15  电机控制器直流母线电流  149189 non-null  object
 16  电池单体电压最高值    164773 non-null  float64
 17  电池单体电压最低值    164773 non-null  float64
 18  最高温度值        164773 non-null  int64
 19  最低温度值        164773 non-null  int64
 20  最高报警等级       164773 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 26.4+ MB

In [33]:
data3.head(10)

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/3/1 0:00,1,3,49.6,147570.7,349.1,8.9,34,1,5311,1:27,1:2827,1:7.5,1:37,1:349.0,1:8.399999999999977,3.643,3.631,28,26,2
1,2022/3/1 0:00,1,3,39.9,147570.9,352.1,-97.1,34,1,5385,1:43,1:2254,1:-162.5,1:37,1:355.0,1:-92.29999999999995,3.676,3.663,28,26,2
2,2022/3/1 0:00,1,3,31.5,147570.9,348.7,16.9,34,1,5245,1:27,1:1804,1:26.1,1:37,1:349.0,1:16.0,3.637,3.627,28,26,2
3,2022/3/1 0:00,1,3,32.9,147571.0,348.7,0.5,34,1,5252,1:27,1:1825,1:-1.0,1:37,1:350.0,1:0.39999999999997726,3.639,3.628,28,26,2
4,2022/3/1 0:00,1,3,21.6,147571.1,349.7,35.8,34,1,5357,1:32,1:1240,1:84.1,1:37,1:348.0,1:34.0,3.647,3.638,28,26,2
5,2022/3/1 0:00,1,3,0.0,147571.1,349.5,0.5,34,1,5343,1:26,1:0,1:0.0,1:37,1:350.0,1:0.0,3.645,3.636,28,26,2
6,2022/3/1 0:01,1,3,0.0,147571.1,349.5,0.5,34,1,5354,1:26,1:0,1:0.0,1:37,1:350.0,1:0.0,3.645,3.636,28,26,2
7,2022/3/1 0:01,1,3,0.9,147571.1,349.5,4.4,34,1,5366,1:27,1:84,1:76.9,1:36,1:349.0,1:4.100000000000023,3.646,3.636,27,26,2
8,2022/3/1 0:01,1,3,19.1,147571.2,349.3,-5.7,34,1,5331,1:27,1:1093,1:-22.9,1:36,1:350.0,1:-5.5,3.644,3.634,27,26,2
9,2022/3/1 0:01,1,3,22.2,147571.2,349.4,8.0,34,1,5329,1:27,1:1284,1:15.3,1:36,1:349.0,1:7.600000000000023,3.644,3.635,27,26,2

In [35]:
data3 = data3.drop(columns='数据采集时间')
data3['月份'] = 3
data3.to_csv('month3', index = False)

In [37]:
file4 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_04.csv"
data4 = pd.read_csv(file4, encoding="GB2312")
data4.info()
data4.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77415 entries, 0 to 77414
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   数据采集时间       77415 non-null  object
 1   车辆状态         77415 non-null  int64
 2   充电状态         77415 non-null  int64
 3   车速           77415 non-null  float64
 4   累计里程         77415 non-null  float64
 5   总电压          77415 non-null  float64
 6   总电流          77415 non-null  float64
 7   SOC          77415 non-null  int64
 8   DC-DC状态      77415 non-null  int64
 9   绝缘电阻         77415 non-null  int64
 10  驱动电机控制器温度    69945 non-null  object
 11  驱动电机转速       69945 non-null  object
 12  驱动电机转矩       69945 non-null  object
 13  驱动电机温度       69945 non-null  object
 14  电机控制器输入电压    69945 non-null  object
 15  电机控制器直流母线电流  69945 non-null  object
 16  电池单体电压最高值    77415 non-null  float64
 17  电池单体电压最低值    77415 non-null  float64
 18  最高温度值        77415 non-null  int64
 19  最低温度值        77415 non-null  int64
 20  最高报警等级       77415 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 12.4+ MB

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/4/1 0:00,1,3,40.8,156629.4,352.0,14.8,44,1,5216,1:34,1:2324,1:16.5,1:44,1:352.0,1:14.0,3.673,3.659,32,31,0
1,2022/4/1 0:00,1,3,41.4,156629.5,352.9,10.7,44,1,5278,1:33,1:2351,1:10.8,1:44,1:353.0,1:10.100000000000023,3.682,3.669,32,31,0
2,2022/4/1 0:00,1,3,40.0,156629.6,351.6,32.5,44,1,5270,1:33,1:2281,1:42.6,1:44,1:352.0,1:30.799999999999955,3.670,3.655,32,31,0
3,2022/4/1 0:00,1,3,41.2,156629.8,353.0,-25.1,44,1,5345,1:33,1:2384,1:-43.2,1:44,1:355.0,1:-23.899999999999977,3.684,3.669,32,31,0
4,2022/4/1 0:00,1,3,2.5,156629.8,353.5,0.5,44,1,5344,1:33,1:139,1:-0.1,1:43,1:353.0,1:0.39999999999997726,3.690,3.675,32,31,0
5,2022/4/1 0:00,1,3,0.0,156629.8,353.4,0.5,44,1,5247,1:32,1:0,1:0.0,1:43,1:353.0,1:0.0,3.688,3.674,32,31,0
6,2022/4/1 0:01,1,3,0.0,156629.8,353.4,0.5,44,1,5251,1:32,1:0,1:0.0,1:43,1:353.0,1:0.0,3.688,3.674,32,31,0
7,2022/4/1 0:01,1,3,0.0,156629.8,353.4,0.5,44,1,5323,1:32,1:0,1:0.0,1:42,1:354.0,1:0.0,3.688,3.673,32,31,0
8,2022/4/1 0:01,1,3,0.0,156629.8,353.4,0.5,44,1,5355,1:33,1:0,1:0.0,1:42,1:354.0,1:0.0,3.688,3.674,32,31,0
9,2022/4/1 0:01,1,3,0.0,156629.8,353.4,0.5,44,1,5202,1:33,1:0,1:0.0,1:41,1:354.0,1:0.0,3.688,3.674,32,31,0

In [39]:
data4 = data4.drop(columns='数据采集时间')
data4['月份'] = 4
data4.to_csv('month4', index = False)

In [55]:
file5 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_05.csv"
data5 = pd.read_csv(file5, encoding="GB2312")
data5.info()
data5.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167568 entries, 0 to 167567
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   数据采集时间       167568 non-null  object
 1   车辆状态         167568 non-null  int64
 2   充电状态         167568 non-null  int64
 3   车速           167568 non-null  float64
 4   累计里程         167568 non-null  float64
 5   总电压          167568 non-null  float64
 6   总电流          167568 non-null  float64
 7   SOC          167568 non-null  int64
 8   DC-DC状态      167568 non-null  int64
 9   绝缘电阻         167568 non-null  int64
 10  驱动电机控制器温度    150792 non-null  object
 11  驱动电机转速       150792 non-null  object
 12  驱动电机转矩       150792 non-null  object
 13  驱动电机温度       150792 non-null  object
 14  电机控制器输入电压    150792 non-null  object
 15  电机控制器直流母线电流  150792 non-null  object
 16  电池单体电压最高值    167568 non-null  float64
 17  电池单体电压最低值    167568 non-null  float64
 18  最高温度值        167568 non-null  int64
 19  最低温度值        167568 non-null  int64
 20  最高报警等级       167568 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 26.8+ MB

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/5/1 0:00,1,3,66.4,161417.2,345.3,73.8,34,1,5245,1:36,1:3790,1:57.8,1:42,1:345.0,1:70.09999999999991,3.604,3.591,31,30,0
1,2022/5/1 0:00,1,3,58.3,161417.4,348.6,13.2,34,1,5284,1:33,1:3317,1:8.4,1:43,1:349.0,1:12.5,3.638,3.627,32,30,0
2,2022/5/1 0:00,1,3,60.1,161417.6,347.8,19.9,34,1,5202,1:33,1:3424,1:13.8,1:43,1:348.0,1:18.899999999999977,3.629,3.618,32,30,0
3,2022/5/1 0:00,1,3,64.1,161417.7,345.9,64.7,33,1,5185,1:35,1:3658,1:52.6,1:43,1:346.0,1:61.40000000000009,3.609,3.597,31,30,0
4,2022/5/1 0:00,1,3,70.7,161417.9,344.5,93.0,33,1,5157,1:38,1:4022,1:70.0,1:43,1:344.0,1:88.29999999999995,3.594,3.581,32,30,0
5,2022/5/1 0:00,1,3,73.9,161418.1,346.9,25.4,33,1,5228,1:33,1:4205,1:15.1,1:43,1:347.0,1:24.09999999999991,3.620,3.608,32,30,0
6,2022/5/1 0:01,1,3,69.9,161418.3,348.9,-42.5,33,1,5496,1:33,1:3962,1:-44.1,1:44,1:351.0,1:-40.39999999999998,3.640,3.627,32,30,0
7,2022/5/1 0:01,1,3,60.7,161418.5,348.6,-5.7,33,1,5466,1:33,1:3453,1:-12.5,1:44,1:350.0,1:-5.5,3.636,3.625,32,30,0
8,2022/5/1 0:01,1,3,55.9,161418.7,348.3,2.0,33,1,5174,1:32,1:3139,1:-1.3,1:44,1:349.0,1:1.8999999999999773,3.634,3.623,32,30,0
9,2022/5/1 0:01,1,3,53.9,161418.8,346.2,82.0,33,1,5109,1:37,1:3093,1:82.1,1:43,1:345.0,1:77.90000000000009,3.614,3.600,32,30,0

In [57]:
data5 = data5.drop(columns='数据采集时间')
data5['月份'] = 5
data5.to_csv('month5', index = False)

In [51]:
file6 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_06.csv"
data6 = pd.read_csv(file6, encoding="GB2312")
data6.info()
data6.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154246 entries, 0 to 154245
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   数据采集时间       154246 non-null  object
 1   车辆状态         154246 non-null  int64
 2   充电状态         154246 non-null  int64
 3   车速           154246 non-null  float64
 4   累计里程         154246 non-null  float64
 5   总电压          154246 non-null  float64
 6   总电流          154246 non-null  float64
 7   SOC          154246 non-null  int64
 8   DC-DC状态      154246 non-null  int64
 9   绝缘电阻         154246 non-null  int64
 10  驱动电机控制器温度    138331 non-null  object
 11  驱动电机转速       138331 non-null  object
 12  驱动电机转矩       138331 non-null  object
 13  驱动电机温度       138331 non-null  object
 14  电机控制器输入电压    138331 non-null  object
 15  电机控制器直流母线电流  138331 non-null  object
 16  电池单体电压最高值    154246 non-null  float64
 17  电池单体电压最低值    154246 non-null  float64
 18  最高温度值        154246 non-null  int64
 19  最低温度值        154246 non-null  int64
 20  最高报警等级       154246 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 24.7+ MB

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/6/1 0:00,1,3,23.6,171920.4,347.5,-38.4,22,1,5279,1:47,1:1279,1:-118.1,1:48,1:348.0,1:-36.5,3.632,3.610,35,34,0
1,2022/6/1 0:00,1,3,45.2,171920.5,340.8,75.5,22,1,5151,1:52,1:2573,1:89.8,1:49,1:341.0,1:71.70000000000005,3.564,3.540,35,34,0
2,2022/6/1 0:00,1,3,53.0,171920.6,344.4,16.0,22,1,5187,1:34,1:3012,1:14.2,1:51,1:345.0,1:15.200000000000045,3.599,3.578,35,34,0
3,2022/6/1 0:00,1,3,50.5,171920.8,345.5,-6.7,22,1,5219,1:34,1:2873,1:-10.7,1:51,1:346.0,1:-6.399999999999977,3.611,3.590,35,34,0
4,2022/6/1 0:00,1,3,45.1,171920.9,346.7,-33.0,22,1,5244,1:34,1:2572,1:-48.2,1:50,1:347.0,1:-31.399999999999977,3.624,3.602,35,34,0
5,2022/6/1 0:00,1,3,22.6,171921.0,346.7,-24.9,22,1,5233,1:40,1:1277,1:-76.8,1:49,1:347.0,1:-23.700000000000045,3.623,3.602,35,34,0
6,2022/6/1 0:01,1,3,10.8,171921.0,345.6,-0.9,22,1,5193,1:34,1:611,1:-17.3,1:49,1:346.0,1:-0.8999999999999773,3.612,3.591,35,34,0
7,2022/6/1 0:01,1,3,13.6,171921.1,344.8,15.2,22,1,5190,1:37,1:789,1:52.8,1:49,1:345.0,1:14.399999999999977,3.605,3.583,35,33,0
8,2022/6/1 0:01,1,3,7.0,171921.1,345.5,0.5,22,1,5219,1:35,1:371,1:-1.0,1:48,1:346.0,1:0.39999999999997726,3.612,3.590,34,33,0
9,2022/6/1 0:01,1,3,0.0,171921.1,345.5,0.5,22,1,5214,1:35,1:0,1:0.0,1:48,1:346.0,1:0.0,3.613,3.591,34,33,0

In [53]:
data6 = data6.drop(columns='数据采集时间')
data6['月份'] = 6
data6.to_csv('month6', index = False)

In [49]:
file7 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_07.csv"
data7 = pd.read_csv(file7, encoding="GB2312")
data7.info()
data7.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151931 entries, 0 to 151930
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   数据采集时间       151931 non-null  object
 1   车辆状态         151931 non-null  int64
 2   充电状态         151931 non-null  int64
 3   车速           151931 non-null  float64
 4   累计里程         151931 non-null  float64
 5   总电压          151931 non-null  float64
 6   总电流          151931 non-null  float64
 7   SOC          151931 non-null  int64
 8   DC-DC状态      151931 non-null  int64
 9   绝缘电阻         151931 non-null  int64
 10  驱动电机控制器温度    136541 non-null  object
 11  驱动电机转速       136541 non-null  object
 12  驱动电机转矩       136541 non-null  object
 13  驱动电机温度       136541 non-null  object
 14  电机控制器输入电压    136541 non-null  object
 15  电机控制器直流母线电流  136541 non-null  object
 16  电池单体电压最高值    151931 non-null  float64
 17  电池单体电压最低值    151931 non-null  float64
 18  最高温度值        151931 non-null  int64
 19  最低温度值        151931 non-null  int64
 20  最高报警等级       151931 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 24.3+ MB

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/7/1 0:00,1,3,2.5,181377.7,349.4,5.9,35,1,5199,1:42,1:148,1:47.2,1:55,1:350.0,1:5.600000000000023,3.645,3.635,34,33,0
1,2022/7/1 0:00,1,3,40.9,181377.8,345.5,55.2,35,1,5110,1:51,1:2336,1:69.9,1:56,1:346.0,1:52.40000000000009,3.607,3.593,34,33,0
2,2022/7/1 0:00,1,3,48.9,181377.9,348.6,12.8,35,1,5203,1:42,1:2784,1:9.7,1:57,1:349.0,1:12.100000000000023,3.637,3.626,34,33,0
3,2022/7/1 0:00,1,3,47.6,181378.0,349.3,9.8,35,1,5204,1:41,1:2718,1:7.4,1:56,1:349.0,1:9.299999999999955,3.644,3.634,34,33,0
4,2022/7/1 0:00,1,3,29.3,181378.2,352.1,-41.7,35,1,5257,1:52,1:1670,1:-101.1,1:55,1:352.0,1:-39.700000000000045,3.677,3.663,34,32,0
5,2022/7/1 0:00,1,3,0.0,181378.2,349.5,3.5,35,1,5171,1:40,1:0,1:0.0,1:55,1:350.0,1:0.0,3.646,3.636,34,32,0
6,2022/7/1 0:01,1,3,0.0,181378.2,349.5,3.5,35,1,5290,1:40,1:0,1:0.0,1:55,1:350.0,1:0.0,3.647,3.636,34,32,0
7,2022/7/1 0:01,1,3,0.0,181378.2,349.5,3.6,35,1,5309,1:41,1:0,1:0.0,1:54,1:350.0,1:0.0,3.647,3.636,34,32,0
8,2022/7/1 0:01,1,3,0.0,181378.2,349.5,4.4,35,1,5182,1:41,1:0,1:0.0,1:53,1:350.0,1:0.0,3.646,3.637,34,32,0
9,2022/7/1 0:01,1,3,0.0,181378.2,349.5,4.5,35,1,5173,1:41,1:0,1:0.0,1:52,1:350.0,1:0.0,3.646,3.636,34,32,0

In [59]:
data7 = data7.drop(columns='数据采集时间')
data7['月份'] = 7
data7.to_csv('month7', index = False)

In [61]:
file8 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_08.csv"
data8 = pd.read_csv(file8, encoding="GB2312")
data8.info()
data8.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115479 entries, 0 to 115478
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   数据采集时间       115479 non-null  object
 1   车辆状态         115479 non-null  int64
 2   充电状态         115479 non-null  int64
 3   车速           115479 non-null  float64
 4   累计里程         115479 non-null  float64
 5   总电压          115479 non-null  float64
 6   总电流          115479 non-null  float64
 7   SOC          115479 non-null  int64
 8   DC-DC状态      115479 non-null  int64
 9   绝缘电阻         115479 non-null  int64
 10  驱动电机控制器温度    102927 non-null  object
 11  驱动电机转速       102927 non-null  object
 12  驱动电机转矩       102927 non-null  object
 13  驱动电机温度       102927 non-null  object
 14  电机控制器输入电压    102927 non-null  object
 15  电机控制器直流母线电流  102927 non-null  object
 16  电池单体电压最高值    115479 non-null  float64
 17  电池单体电压最低值    115479 non-null  float64
 18  最高温度值        115479 non-null  int64
 19  最低温度值        115479 non-null  int64
 20  最高报警等级       115479 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 18.5+ MB

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/8/1 0:00,1,3,52.7,189690.9,346.3,81.4,30,1,5101,1:51,1:3019,1:84.5,1:52,1:346.0,1:77.29999999999995,3.613,3.601,35,33,0
1,2022/8/1 0:00,1,3,57.1,189691.1,349.5,7.4,30,1,5175,1:42,1:3249,1:5.4,1:52,1:350.0,1:7.0,3.644,3.636,35,33,0
2,2022/8/1 0:00,1,3,58.8,189691.3,348.3,32.8,30,1,5295,1:41,1:3349,1:28.8,1:52,1:348.0,1:31.09999999999991,3.632,3.623,35,33,0
3,2022/8/1 0:00,1,3,54.7,189691.4,349.4,9.8,30,1,5334,1:41,1:3113,1:7.7,1:52,1:349.0,1:9.299999999999955,3.644,3.634,35,33,0
4,2022/8/1 0:00,1,3,53.1,189691.6,351.0,-38.4,30,1,5297,1:40,1:3020,1:-48.4,1:52,1:352.0,1:-36.5,3.661,3.651,35,33,0
5,2022/8/1 0:00,1,3,36.4,189691.7,350.0,-7.2,30,1,5236,1:41,1:2078,1:-15.5,1:52,1:350.0,1:-6.899999999999977,3.650,3.640,35,33,0
6,2022/8/1 0:01,1,3,13.9,189691.8,350.3,0.6,30,1,5236,1:42,1:802,1:-1.3,1:52,1:351.0,1:0.5,3.653,3.644,35,33,0
7,2022/8/1 0:01,1,3,36.8,189691.8,350.2,-22.2,30,1,5284,1:42,1:2087,1:-43.5,1:53,1:351.0,1:-21.100000000000023,3.652,3.642,35,32,0
8,2022/8/1 0:01,1,3,9.4,189691.9,350.1,-0.7,30,1,5254,1:42,1:538,1:-12.7,1:53,1:351.0,1:-0.7000000000000455,3.651,3.642,35,32,0
9,2022/8/1 0:01,1,3,7.9,189691.9,350.0,-0.3,30,1,5203,1:41,1:456,1:-9.6,1:53,1:350.0,1:-0.2999999999999545,3.650,3.641,35,32,0

In [63]:
data8 = data8.drop(columns='数据采集时间')
data8['月份'] = 8
data8.to_csv('month8', index = False)

In [65]:
file9 = r"D:\学习\Naraka\加勒比地区数据\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛赛题\2024年第四届高校大数据挑战赛-B赛题\附件\month_09.csv"
data9 = pd.read_csv(file9, encoding="GB2312")
data9.info()
data9.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41045 entries, 0 to 41044
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   数据采集时间       41045 non-null  object
 1   车辆状态         41045 non-null  int64
 2   充电状态         41045 non-null  int64
 3   车速           41045 non-null  float64
 4   累计里程         41045 non-null  float64
 5   总电压          41045 non-null  float64
 6   总电流          41045 non-null  float64
 7   SOC          41045 non-null  int64
 8   DC-DC状态      41045 non-null  int64
 9   绝缘电阻         41045 non-null  int64
 10  驱动电机控制器温度    36519 non-null  object
 11  驱动电机转速       36519 non-null  object
 12  驱动电机转矩       36519 non-null  object
 13  驱动电机温度       36519 non-null  object
 14  电机控制器输入电压    36519 non-null  object
 15  电机控制器直流母线电流  36519 non-null  object
 16  电池单体电压最高值    41045 non-null  float64
 17  电池单体电压最低值    41045 non-null  float64
 18  最高温度值        41045 non-null  int64
 19  最低温度值        41045 non-null  int64
 20  最高报警等级       41045 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 6.6+ MB

,数据采集时间,车辆状态,充电状态,车速,累计里程,总电压,总电流,SOC,DC-DC状态,绝缘电阻,驱动电机控制器温度,驱动电机转速,驱动电机转矩,驱动电机温度,电机控制器输入电压,电机控制器直流母线电流,电池单体电压最高值,电池单体电压最低值,最高温度值,最低温度值,最高报警等级
0,2022/9/1 0:00,1,3,6.1,198586.2,339.3,4.2,13,1,5209,1:45,1:352,1:-0.4,1:56,1:340.0,1:3.8999999999999773,3.548,3.522,36,35,0
1,2022/9/1 0:00,1,3,0.0,198586.2,339.3,4.7,13,1,5286,1:43,1:-1,1:0.0,1:56,1:340.0,1:4.399999999999977,3.547,3.522,36,35,0
2,2022/9/1 0:00,1,3,0.0,198586.2,339.3,4.7,13,1,5287,1:43,1:0,1:0.0,1:56,1:340.0,1:0.0,3.547,3.522,36,35,0
3,2022/9/1 0:00,1,3,0.0,198586.2,339.3,5.0,13,1,5353,1:43,1:0,1:0.0,1:55,1:340.0,1:0.0,3.547,3.522,36,35,0
4,2022/9/1 0:00,1,3,0.0,198586.2,339.3,5.1,13,1,5321,1:44,1:0,1:0.0,1:54,1:340.0,1:0.0,3.547,3.522,36,35,0
5,2022/9/1 0:00,1,3,17.3,198586.2,338.2,7.3,13,1,5256,1:48,1:991,1:5.2,1:53,1:339.0,1:6.899999999999977,3.536,3.510,36,35,0
6,2022/9/1 0:01,1,3,21.3,198586.3,337.9,37.1,13,1,5240,1:50,1:1227,1:76.5,1:54,1:338.0,1:35.200000000000045,3.533,3.507,36,35,0
7,2022/9/1 0:01,1,3,32.0,198586.3,338.1,31.5,13,1,5275,1:46,1:1829,1:44.0,1:54,1:338.0,1:29.90000000000009,3.536,3.509,36,35,0
8,2022/9/1 0:01,1,3,26.4,198586.4,339.8,-14.1,13,1,5343,1:46,1:1504,1:-46.6,1:54,1:340.0,1:-13.299999999999955,3.553,3.527,36,35,0
9,2022/9/1 0:01,1,3,30.7,198586.5,339.7,-17.2,13,1,5281,1:46,1:1748,1:-45.8,1:54,1:340.0,1:-16.399999999999977,3.553,3.526,36,35,0

In [67]:
data9 = data9.drop(columns='数据采集时间')
data9['月份'] = 9
data9.to_csv('month9', index = False)